

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;

}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    height: 100vh;
    width: 100%;
}

.content span.img-text{
background-color: #333;
text-transform: uppercase;
color: #fff;
padding: 1rem;
font-size: 1.5rem;
letter-spacing: 10px;
}

h3{
    margin: 10px;
    text-align: center;
}

p{
    padding: 20px;
    text-align: justify;
}